{
    "semi": true,
    "trailingComma": "es5",
    "singleQuote": true,
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "importOrder": [
        "^@nestjs/(.*)$",
        "^@prisma/(.*)$",
        "^@austa/(.*)$",
        "^@app/(.*)$",
        "^[./].*$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderParserPlugins": ["typescript", "decorators-legacy"],
    "overrides": [
        {
            "files": "*.ts",
            "options": {
                "parser": "typescript"
            }
        }
    ],
    "experimentalDecorators": true,
    "decoratorsBeforeExport": true
}